// H3

// Variables
$h3-font-size:          $font-size-base * 1.75 !default;
$h3-margin-bottom:      ($spacer / 2) !default;
$h3-font-family:        inherit !default;
$h3-font-weight:        500 !default;
$h3-line-height:        1.2 !default;
$h3-color:              inherit !default;

// Styling
h3 {
    font-size: $h3-font-size;
    margin-bottom: $h3-margin-bottom;
    font-family: $h3-font-family;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    color: $h3-color;
}
