// Blockquote

// Variables
$blockquote-color:         $gray-600 !default;
$blockquote-font-size:     ($font-size-base * 1.25) !default;
$blockquote-cite-size:     $font-size-base !default;
$blockquote-cite-color:    $gray-600 !default;

// Styling
blockquote {
    color: $blockquote-color;
    font-size: $blockquote-font-size;

    cite {
        color: $blockquote-cite-color;
        font-size: $blockquote-cite-size;
    }
}
