// H5

// Variables
$h5-font-size:          $font-size-base * 1.25 !default;
$h5-margin-bottom:      ($spacer / 2) !default;
$h5-font-family:        inherit !default;
$h5-font-weight:        500 !default;
$h5-line-height:        1.2 !default;
$h5-color:              inherit !default;

// Styling
h5 {
    font-size: $h5-font-size;
    margin-bottom: $h5-margin-bottom;
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    line-height: $h5-line-height;
    color: $h5-color;
}
