/// Mixin to keep aspect ratio
/// @param {Number} $width  
/// @param {Number} $height
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}
