// H6

// Variables
$h6-font-size:          $font-size-base !default;
$h6-margin-bottom:      ($spacer / 2) !default;
$h6-font-family:        inherit !default;
$h6-font-weight:        500 !default;
$h6-line-height:        1.2 !default;
$h6-color:              inherit !default;

// Styling
h6 {
    font-size: $h6-font-size;
    margin-bottom: $h6-margin-bottom;
    font-family: $h6-font-family;
    font-weight: $h6-font-weight;
    line-height: $h6-line-height;
    color: $h6-color;
}
