// H2

// Variables
$h2-font-size:          $font-size-base * 2 !default;
$h2-margin-bottom:      ($spacer / 2) !default;
$h2-font-family:        inherit !default;
$h2-font-weight:        500 !default;
$h2-line-height:        1.2 !default;
$h2-color:              inherit !default;

// Styling
h2 {
    font-size: $h2-font-size;
    margin-bottom: $h2-margin-bottom;
    font-family: $h2-font-family;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    color: $h2-color;
}
