// H1

// Variables
$h1-font-size:                $font-size-base * 2.5 !default;
$h1-margin-bottom:      ($spacer / 2) !default;
$h1-font-family:        inherit !default;
$h1-font-weight:        500 !default;
$h1-line-height:        1.2 !default;
$h1-color:              inherit !default;

// Styling
h1 {
    font-size: $h1-font-size;
    margin-bottom: $h1-margin-bottom;
    font-family: $h1-font-family;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    color: $h1-color;
}
