// H4

// Variables
$h4-font-size:          $font-size-base * 1.5 !default;
$h4-margin-bottom:      ($spacer / 2) !default;
$h4-font-family:        inherit !default;
$h4-font-weight:        500 !default;
$h4-line-height:        1.2 !default;
$h4-color:              inherit !default;

// Styling
h4 {
    font-size: $h4-font-size;
    margin-bottom: $h4-margin-bottom;
    font-family: $h4-font-family;
    font-weight: $h4-font-weight;
    line-height: $h4-line-height;
    color: $h4-color;
}
